h1{
    text-align: center;
}
h1{
    color: blue;
}
h1{
    font-style: italic;
}    
h1{
    font-size: 46pxs;
}
h6{
    text-align: center;
}
#header{
    color: black;
}
.wrapper{
    color: blue;
}
